// Colours
$bodyColour: #5F6F52;
$headingColour: darken($bodyColour, 5%);
$linkColour: #B99470;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #FEFAE0;

$backgroundColour: #A9B388;
$codeBackgroundColour: darken($backgroundColour, 5%);
